.truncate-2-lines{
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;

}

.movie-card{
    transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
    transform: scale(1.01);
}

.movie-card:hover .card-back{
    opacity: 1 !important;
}

.movies-container{
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: "touch";
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.movies-container::-webkit-scrollbar{
    display: none;
}





